<!DOCTYPE html>
<html lang="ja" dir="ltr">
<%= partial "head" %>
  <body id=<%= @body_id %>>
    <!--header-->
    <%= partial "header" %>

    <!--wrap-->
    <div id="wrap">
      <div class="content">
        <% if @body_id == "article" %>
          <%= partial "adsense" %>
          <%= partial "article_title" %>
          <%= @article_page_top_ads %>
          <%= yield %>
          <%= @article_page_bottom_ads %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <!--footer-->
    <%= partial "footer" %>
  </body>
</html>
