<%= partial "adsense" %>
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<%= partial "head" %>
  <body id=<%= @body_id %>>

    <!--header-->
    <%= partial "header" %>

    <!--wrap-->
    <% if @body_id == "index" %>
      <div id="wrap" class="wrap-index-color">
        <%= @index_ads %>
    <% else %>
      <div id="wrap">
    <% end %>
      <div class="content">
        <% if @body_id == "article" %>
          <div class="main-aside-wrap">
            <div class="text-content">
              <%= partial "article_title" %>
              <%= @article_page_top_ads %>
              <!--article main contents-->
              <div class="article-main-contents">
                <%= yield %>
              </div>
              <!--article end-->
              <%= @article_page_bottom_ads %>
              <%= partial "other_list" %>
            </div>
            <%= partial "right_bar" %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <!--footer-->
    <%= partial "footer" %>
  </body>
</html>
