<%= partial "adsense" %>
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<%= partial "head" %>
  <body id=<%= @body_id %>>

    <!--header-->
    <%= partial "header" %>

    <!--wrap-->
    <% if @body_id == "index" %>
      <div id="wrap" class="wrap-index-color">
    <% else %>
      <div id="wrap">
    <% end %>
      <div class="content">

        <% if @body_id == "article" %>
          <div class="main-aside-wrap">
            <div class="text-content">
              <%= partial "article_title" %>
              <%= @article_page_top_ads %>
              <!--article main contents-->
              <div class="article-main-contents">
                <%= yield %>
              </div>
              <!--article end-->
              <%= @article_page_bottom_ads %>
              <%= partial "other_list" %>
            </div>
            <%= partial "right_bar" %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>

      </div>
    </div>

    <!--footer-->
    <%= partial "footer" %>

    <% if @body_id == "article" %>
      <script>
        // コードブロックのmax-width値更新
        const prettyPrintList = document.querySelectorAll('.prettyprint')

        const codeBlockMaxWidthChange = () => {
          const textContent      = document.querySelectorAll('.text-content')
          const articlePadding   = 60
          const articleMaxWidth  = 860
          const windowInnerWidth = window.innerWidth

          if (windowInnerWidth <= articleMaxWidth) {
            prettyPrintList.forEach((elem) => elem.style.maxWidth = `${windowInnerWidth - articlePadding}px`)
          } else {
            prettyPrintList.forEach((elem) => elem.style.maxWidth = `${textContent.clientWidth}px`)
          }
        }

        if (prettyPrintList.length) {
          // リサイズ時にしか実行されないから直す
          codeBlockMaxWidthChange()
          window.addEventListener('resize', codeBlockMaxWidthChange)
        }
      </script>
    <% end %>
  </body>
</html>
