<% @title = "他記事" %>

<p class="page-title"><%= @title %></p>
<div class="container">

  <% partial "article_info" %>

  <% @article_info_list.each_with_index.reverse_each do |article, i| %>
    <% if article[:category] == "other" %>
      <% page_num = i + 1 %>
        <article class="article-item box">
          <div class="article-inside">
            <a href="../articles/page<%= page_num %>.html"><img src="../images/page<%= page_num %>.jpg" alt="">
            <p><a href="../articles/page<%= page_num %>.html"><%= article[:title] %></a><br>
              <span class="date">Posted on <%= article[:post_date] %></span>
            </p>
          </div>
        </article>
    <% end %>
  <% end %>

  <% 2.times do %>
    <article class="article-item hidden-item">
      <div class="article-inside">
        <a href="#"><img src="images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </div>
    </article>
  <% end %>

</div>
