<% @title = "JavaScript" %>
<p class="page-title"><%= @title %></p>
<div class="container">

  <% article_contents = [ %>
    <% ["JavaScriptでタイピングゲームを作ってみた(感想)","2018/7/21", "2"], %>
    <% ["アロー関数の省略的な書き方について", "2018/8/10", "3"], %>
    <% ["PUBGで使える降下地点ランダムサイトを作ってみた", "2018/11/1", "5"], %>
    <% ["JavaScriptでライフゲームを実装してみた", "2019/1/12", "11"], %>
  <% ] %>

  <% article_contents.reverse_each do |e| %>
    <article class="article-item box">
      <div class="article-inside">
        <a href="../articles/page<%= e[2] %>.html"><img src="../images/page<%= e[2] %>.jpg" alt="">
        <p><a href="../articles/page<%= e[2] %>.html"><%= e[0] %></a><br>
          <span class="date">Posted on <%= e[1] %></span>
        </p>
      </div>
    </article>
  <% end %>

  <% 2.times do %>
    <article class="article-item hidden-item">
      <div class="article-inside">
        <a href="#"><img src="images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </div>
    </article>
  <% end %>

</div>
