<% @title = "サイト運営" %>

<p class="page-title"><%= @title %></p>
<div class="container">

  <% partial "article_info" %>

  <% @article_contents.each_with_index.reverse_each do |e, i| %>
    <% if e[2] == "ope" %>
    <% index = i + 1 %>
      <article class="article-item box">
        <div class="article-inside">
          <a href="../articles/page<%= index %>.html"><img src="../images/page<%= index %>.jpg" alt="">
          <p><a href="../articles/page<%= index %>.html"><%= e[0] %></a><br>
            <span class="date">Posted on <%= e[1] %></span>
          </p>
        </div>
      </article>
    <% end %>
  <% end %>

  <% 2.times do %>
    <article class="article-item hidden-item">
      <div class="article-inside">
        <a href="#"><img src="images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </div>
    </article>
  <% end %>

</div>
