<% partial "article_info" %>
<% @title = false %>
<head>
  <% @base_title = "Knowledge-Blog" %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=640">
  <% if @body_id == "article" %>
    <% @title = @article_info_list[@page_number-1][:title] %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@70155">
    <meta property="og:url" content="http://Knowledge-blog.net/articles/page<%= @page_number.to_s %>.html">
    <meta property="og:title" content="<%= @title %>">
    <meta property="og:description" content="<%= @description || @title %>">
    <meta property="og:image" content="http://Knowledge-blog.net/images/page<%= @page_number.to_s %>.jpg">
    <script src="../sidebar-fixed.js" charset="utf-8" defer></script>
  <% end %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Kaushan+Script|Ropa+Sans">
  <link rel="shortcut icon" href="../images/favicon.png">
  <title><%= @title ? @title + " | " + @base_title : @base_title %></title>
  <link rel="stylesheet" href="../css.css">
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131321630-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131321630-1');
  </script>
</head>
